@font-face {
    font-family: 'blacC';
    src: url('../Fonts/blackwood-castle/BLACC___.TTF');
}

@font-face {
    font-family: 'imFellDw';
    src: url('../Fonts/im-fell-dw-pica/IMFePIrm28P.ttf');
}

body {
    /*background-image: linear-gradient(to bottom, #2e3037, #ebe5ce);*/
    background-color: #ebe5ce;
    font-family: 'imFellDw';
}

h1 {
    font-family: 'blacC';
}

#title {
    font-size: 40px;
    text-align: center;
    color: #2e3037;
    border-bottom: 3px solid #2e3037;
    line-height: 0.1em;
    padding-top: 0.5em;
    margin-left: 5%;
    margin-right: 5%;
}

#title span {
    background-color: #ebe5ce;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

/*
#block div {
    display: inline-block;
    border: 3px solid black;
}

#main-menu {
    text-align: center;
    border: 3px solid #2e3037;
    background-color: #2e3037;
    color: #ebe5ce;
    padding-top: 20px;
    display: inline-block;
    white-space: pre-line;
    width: 20%;
    height: 200px;
}
    */

#menu {
    list-style: none;
    padding-left: 0;
}

#main-menu {
    padding-bottom: 20px;
    width: 20%;
}

#main-menu a {
    color: inherit;
}

div.body-block {
    border: 3px solid #2e3037;
    background-color: #2e3037;
    color: #ebe5ce;
    white-space: pre-line;
    height: 200px;
}

div.link-block {
    padding-top: 20px;
    width: 25%;
}

div.link-block:hover  {
    color: #2e3037;
    background-color: #ebe5ce;
    cursor: pointer;
}

#left {
}

#right {
}

footer {
    text-align: center;
    border-top: 3px solid #2e3037;
    margin-left: 5%;
    margin-right: 5%;
}