body {
    background-color: #ebe5ce;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#title {
    text-align: center;
    color: #2e3037;
    border-bottom: 3px solid #2e3037;
    line-height: 0.1em;
    padding-top: 0.5em;
}

#title span {
    background-color: #ebe5ce;
    padding-left: 0.5em;
    padding-right: 0.5em;
}